body {
    font-family: Arial, sans-serif;
    margin: 20px; /* Add margin to body */
    padding: 0;
    background-color: #f4f4f4;
}

header, footer {
    margin-left: -20px; /* Negate the body margin */
    margin-right: -20px; /* Negate the body margin */
    padding-left: 20px; /* Ensure content inside the header and footer is aligned */
    padding-right: 20px; /* Ensure content inside the header and footer is aligned */
}

header {
    background: #214971;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    color: white;
}

h2 {
    color: #F6B72B;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 90px; /* Adjust the height as needed */
}

h3, h4, h5 {
    color: #214971;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

a {
    display: block;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    background: #214971;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.navbar {
    background-color: #214971;
    overflow: hidden;
    justify-content: center;
    display: flex;
}

/* Navbar links */
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    float: left;
}

.navbar a {
    display: inline;
    color: white;
    text-align: center;
    padding: 1px 15px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

p {
    font-family: Arial, serif;
    font-size: 16px;
}

.footer {
    background-color: #214971;
    color: #F6B72B;
    padding: 20px 0;
    text-align: center;
    margin-left: -20px; /* Negate the body margin */
    margin-right: -20px; /* Negate the body margin */
    padding-left: 20px; /* Ensure content inside the footer is aligned */
    padding-right: 20px; /* Ensure content inside the footer is aligned */
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: block;
    justify-content: center;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns */
    gap: 10px;
    margin-right: 0; /* Right align the grid */
    position: absolute;
    right: 20px;
    top: 150px; /* Adjust the top position as needed */
}

.grid-item {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.grid-item a {
    text-decoration: none;
    color: #007bff;
}

.grid-item a:hover {
    text-decoration: underline;
}